
.caja{
    width: 100%;
    height:100px;
    margin: 0%;
    padding:0px;
    border: 0cap;
   background: hsl(226, 65%, 35%);
   display: flex;
   justify-content:space-between;
   align-content: stretch;
   flex-wrap: wrap;
   flex-direction: row;
   align-items: center;
}
.logo{
    width: 6%;
    padding: 0%;
    margin: 0%;
}
.texto{
   font-size: 30px;
   color: #ffffff;
}
body{
    width: 100%;
}
button{
  width: 150px; 
  height: 50px;
 margin: 20px;
 font-size: 16px;
 border-radius: 20px;
 background-color: hsl(226, 31%, 69%);
 border: none;
}
button:hover{
    background-color: #aed7ec;
}
.nav{
   background-color:#ffffff;
   margin: 0px;
}

.nav ul{

    list-style: none;
    display: flex;
    justify-content: center;
    padding:0px;
    margin: 0px;
    align-items: center;
    text-align: center;
}
.uno{
    display: block;
    width: 37px;
    font-family: sans-serif;
    margin: 8px;
    padding: 20px;
    text-decoration: none;
    color:rgb(4, 4, 4);
    text-align: center;
    border-radius: 16px;
}
.uno:hover{
    background-color: #3b5998;
}
nav a:hover {
  color: #fff;
}

.dos{
    display: block;
    width: 64px;
    font-family: sans-serif;
    margin: 10px;
    padding: 20px;
    text-decoration: none;
    color: rgb(4, 4, 4);
    text-align: center;
    border-radius: 16px;

}
.dos:hover{
    background-color: #3b5998;
}

.tres {
    display: block;
    width: 65px;
    font-family: sans-serif;
    font-weight: 20px;
    margin: 10px;;
    padding: 20px;
    text-decoration: none;
    color: rgb(4, 4, 4);
    border-radius: 16px;
}
.tres:hover{
    background-color: #3b5998;
}

.cuatro{
    display: block;
    width: 90px;
    font-family: sans-serif;
    font-weight: 20px;
    margin: 10px;
    padding: 20px ;
    text-decoration: none;
    color: rgb(4, 4, 4);
    border-radius: 16px;
}
.cuatro:hover{
    background-color: #3b5998;
}

.cinco{
    display: block;
    width: 160px;
    height: 20px;
    font-family: sans-serif;
    margin:10px;
    padding: 15px;
    text-decoration: none;
    color: rgb(4, 4, 4);
    border-radius: 16px;
}
.cinco:hover{
    background-color: #3b5998;
}

section{
    background: rgb(239, 235, 235);
    padding: 0px;
    width: 1500px;
}
p{
    font-size: 20px;
    text-align: justify;
}
.servicio{
   text-align: center;
}

.cards {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #ffffff;
   
}
.card {
    width: 30%;
    padding: 15px;
    border: 1px solid #ccc;
    text-align: center;
    transition: transform 1s ease;
}

.card:hover{
    transform: scale(1.1);
}

.card img{
    width: 18%
}

.card button {
    background-color: #3b5998;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}
 .card button:hover{
    background-color: #677daf;
}

.card button:hover{
    color: black;
}
.es{
    background:hsl(226, 65%, 35%);
    width: 160px;
    height: 60px;
    border-radius: 20px;
    text-align:center;
    margin: 20px;
    padding:15px;
    display: flex;
   align-items: center;
   justify-content: center;
}
.os{
    background:hsl(226, 65%, 35%);
    width: 160px;
    height: 60px;
    border-radius: 20px;
    text-align:center;
    margin: 20px;
    padding: 15px;
    display: flex;
   align-items: center;
   justify-content: center
}
.is{
    background:hsl(226, 65%, 35%);
    width: 160px;
    height: 60px;
    border-radius: 20px;
    text-align:center;
    margin: 20px;
    padding:15px;
    display: flex;
   align-items: center;
   justify-content: center
}

.in{
    
    font-size: 20px;
    background: hwb(203 25% 23%);
    width: 270px;
    height: 200px;
    border-radius: 30px;
}

.on{
    font-size: 20px;
    background: hwb(203 25% 23%);
    width: 270px;
    height: 200px;
    border-radius: 30px;
} 
.en{
    font-size: 20px;
    background:hwb(203 25% 23%);
    width: 260px;
    height: 200px;
    border-radius: 30px; 
}

ol{
    text-align: center;
}
li{
    font-size:17px;
    text-align: justify;
    margin: 0%;
}
.footer{
    display: flex;
    background-color:hsl(226, 65%, 35%);
    padding:0px;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.contacto{
  margin:0px;
  color: #ffffff;
  display: flex;
  gap: 4px;
  margin: 40px; 
}
.dibujos{
    padding: 20px;
}
.F{
    padding: 10px;
    border-radius: 50px;
    width: 60px;
}
a{
    text-decoration: none;
    color:#ffffff
}
.W{
    padding: 10px;
    border-radius: 50px;
    width: 60px;
}
.I{
    padding: 10px;
    border-radius: 50px;
    width:60px;   
}
.correo{
    text-align: center;
    color: #ffffff;
}
h2{
    color: black;
}
.recurso{
    text-align: center;
}
h3{
    font-size: 20px;
}
.derechos{
    display: flex;
    color: #ffffff;
}


