.caja{
    width: 100%;
    height:100px;
    margin: 0%;
    padding:0px;
    border: 0cap;
   background: hsl(226, 65%, 35%);
   display: flex;
   justify-content:space-between;
   align-content: stretch;
   flex-wrap: wrap;
   flex-direction: row;
   align-items: center;
}
.logo{
    width: 6%;
    padding: 0%;
    margin: 0%;
}
.texto{
   font-size: 30px;
   color: #ffffff;
}
body{
    width: 100%;
}
button{
  width: 150px; 
  height: 50px;
 margin: 20px;
 font-size: 16px;
 border-radius: 20px;
 background-color: hsl(226, 31%, 69%);
 border: none;
}
button:hover{
    background-color: #aed7ec;
}
.nav{
   background-color:#ffffff;
   margin: 0px;
}

.nav ul{

    list-style: none;
    display: flex;
    justify-content: center;
    padding:0px;
    margin: 0px;
    align-items: center;
    text-align: center;
}
.uno{
    display: block;
    width: 37px;
    font-family: sans-serif;
    margin: 8px;
    padding: 20px;
    text-decoration: none;
    color:rgb(4, 4, 4);
    text-align: center;
    border-radius: 16px;
}
.uno:hover{
    background-color: #3b5998;
}
nav a:hover {
  color: #fff;
}

.dos{
    display: block;
    width: 64px;
    font-family: sans-serif;
    margin: 10px;
    padding: 20px;
    text-decoration: none;
    color: rgb(4, 4, 4);
    text-align: center;
    border-radius: 16px;

}
.dos:hover{
    background-color: #3b5998;
}

.tres {
    display: block;
    width: 65px;
    font-family: sans-serif;
    font-weight: 20px;
    margin: 10px;;
    padding: 20px;
    text-decoration: none;
    color: rgb(4, 4, 4);
    border-radius: 16px;
}
.tres:hover{
    background-color: #3b5998;
}

.cuatro{
    display: block;
    width: 90px;
    font-family: sans-serif;
    font-weight: 20px;
    margin: 10px;
    padding: 20px ;
    text-decoration: none;
    color: rgb(4, 4, 4);
    border-radius: 16px;
}
.cuatro:hover{
    background-color: #3b5998;
}

.cinco{
    display: block;
    width: 160px;
    height: 20px;
    font-family: sans-serif;
    margin:10px;
    padding: 15px;
    text-decoration: none;
    color: rgb(4, 4, 4);
    border-radius: 16px;
}
.cinco:hover{
    background-color: #3b5998;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    margin: auto;
}
 h2 {
    color: #333;
    text-align: center;
}

h2 {
    margin-bottom: 15px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.input-group input,
.input-group select {
    width: calc(100% - 10px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

.button-group button,
.clear-button-group button {
    background-color: hsl(226, 65%, 35%);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px; 
    margin-top: 2px;
}


.button-group button:hover,
.clear-button-group button:hover {
    background-color: hsl(226, 23%, 71%);
}

.table-container {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: hsl(226, 65%, 35%);
    color: white;
}

td {
    color: #333;
}

td button {
    background-color: hsl(226, 65%, 35%);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}

td button:hover {
    background-color:hsl(227, 37%, 76%);
}

.summary {
    background-color: hsl(226, 31%, 69%);
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    color: #333;
}

.summary p {
    margin: 10px 0;
    font-size: 18px;
}

.summary span {
    font-weight: bold;
}

li{
    font-size: 17px;
}
p{
    font-size: 20px;
}
.footer{
    display: flex;
    background-color:hsl(226, 65%, 35%);
    padding:8px;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 8px;
}
.contacto{
  margin:0px;
  color: #ffffff;
  font-size: 18px;
}
.dibujos{
    padding: 20px;
}
.F{
    padding: 10px;
    border-radius: 20px;
}
.W{
    padding: 10px;
    border-radius: 20px;
}
.I{
    padding: 10px;
    border-radius: 10px;
}
.correo{
    text-align: center;
    color: #ffffff;
}