.caja{
    width: 100%;
    height:100px;
    margin: 0%;
    padding:0px;
    border: 0cap;
   background: hsl(226, 65%, 35%);
   display: flex;
   justify-content:space-between;
   align-content: stretch;
   flex-wrap: wrap;
   flex-direction: row;
}
.logo{
    width: 6%;
    margin: 0%;
}
.texto{
   font-size: 30px;
}
body{
    width: 100%;
}
button{
  width: 150px; 
  height: 50px;
 margin: 20px;
 font-size: 16px;
 border-radius: 20px;
 background-color: hsl(226, 31%, 69%);

}
.nav{
   background-color:#ffffff;
}

.nav ul{

    list-style: none;
    display: flex;
    justify-content: center;
    padding:0px;
    margin: 0px;
    align-items: center;
    text-align: center;
}
.uno{
    display: block;
    width: 60px;
    font-family: sans-serif;
    border-radius: 15px;
    margin: 10px;
    padding: 20px;
    text-decoration: none;
    color:rgb(4, 4, 4);
    background-color: hwb(203 25% 23%);
    text-align: center;

}
.dos{
    display: block;
    width: 70px;
    font-family: sans-serif;
    border-radius: 15px;
    margin: 10px;
    padding: 20px;
    text-decoration: none;
    color: rgb(4, 4, 4);
    background-color:hwb(203 25% 23%);
    text-align: center;
}

.tres {
    display: block;
    width: 65px;
    font-family: sans-serif;
    font-weight: 20px;
    border-radius: 15px;
    margin: 10px;;
    padding: 20px;
    text-decoration: none;
    color: rgb(4, 4, 4);
    background-color: hwb(203 25% 23%);
}

.cuatro{
    display: block;
    width: 90px;
    font-family: sans-serif;
    font-weight: 20px;
    border-radius: 15px;
    margin: 10px;
    padding: 20px ;
    text-decoration: none;
    color: rgb(4, 4, 4);
    background-color:hwb(203 25% 23%) ;
}

.cinco{
    display: block;
    width: 120px;
    height: 40px;
    font-family: sans-serif;
    border-radius: 15px;
    margin:10px;
    padding: 8px;
    text-decoration: none;
    color: rgb(4, 4, 4);
    background-color: hwb(203 25% 23%);
}

.iconos {
    text-align: center;
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    color: black;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold; 
}

a{
    text-decoration:none ;
    color: black;
}

.div1 { 
    margin: 40px;
    position: relative;
    border-radius: 20px;
    color: black;
    background-color:#d8d5d5d1;
    padding: 15px;
    width: 700px;
    height: 300px;
    text-align: right;

}

.div2 {
    position: absolute;
    top: 0px;
    background-color: #fffcfc;
    border-radius: 2%;
    color: black;
    padding: 15px;
    margin: 10px;
    width: 400px;
    height: 200px;
    text-align: center;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}
.N{
    background-color: #d8d5d5d1;
    border: none;
    width: 170px;
    height: 30px;
    margin: 5px;
}
.A{
    background-color: #d8d5d5d1;
    border: none;
    width: 170px;
    height: 30px;
    margin: 5px;
}
.C{
 background-color: #d8d5d5d1;
    border: none;
    width: 170px;
    height: 30px;
    margin: 5px;

}

.Y{
 background-color: #d8d5d5d1;
    border: none;
    width: 170px;
    height: 30px;
    margin: 5px;

}
#perrafo {
    justify-content: center;
    color: rgb(194, 197, 201);
    background-color: white;
    width: 370px;
    height: 30px;
    border-radius: 20px;
    margin: 20px;
    text-align: center;  
    justify-content: space-around;
}
#botono3 {
    background-color: rgb(24, 24, 165);
    color: white;
    padding: 10px;
    border-radius: 20px;
    justify-content: center;

}
#boton2 {
    background-color: rgb(137, 162, 185);
    color: #000000;
    border-radius: 20px;
    padding: 10px;
    display: flex;


}
#boton1 {
    background-color:hwb(203 25% 23%);
    color: black;
    border-radius: 20px;
    font-family: sans-serif;
    padding: 10px;
    display: flex;
   justify-content: center;

}




 footer{
    display: flex;
    background-color:hsl(226, 65%, 35%);
    padding:8px;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}
.contacto{
  margin:0px;
}
.dibujos{
    padding: 20px;
}
.F{
    padding: 10px;
    border-radius: 20px;
}
.W{
    padding: 10px;
    border-radius: 20px;
}
.I{
    padding: 10px;
    border-radius: 10px;
}
.correo{
    text-align: center;
}

p{
    font-size: 20px;
}
