.caja{
    width: 100%;
    height:100px;
    margin: 0%;
    padding:0px;
    border: 0cap;
   background: hsl(226, 65%, 35%);
   display: flex;
   justify-content:space-between;
   align-content: stretch;
   flex-wrap: wrap;
   flex-direction: row;
   align-items: center;
}
.logo{
    width: 6%;
    padding: 0%;
    margin: 0%;
}
.texto{
   font-size: 30px;
   color: #ffffff;
}
body{
    width: 100%;
}
.nav{
   background-color:#ffffff;
   margin: 0px;
}
button{
  width: 150px; 
  height: 50px;
 margin: 20px;
 font-size: 16px;
 border-radius: 20px;
 background-color: hsl(226, 31%, 69%);
 border: none;
}
button:hover{
    background-color: #aed7ec;
}

.nav ul{

    list-style: none;
    display: flex;
    justify-content: center;
    padding:0px;
    margin: 0px;
    align-items: center;
    text-align: center;
}
.uno{
    display: block;
    width: 37px;
    font-family: sans-serif;
    margin: 8px;
    padding: 20px;
    text-decoration: none;
    color:rgb(4, 4, 4);
    text-align: center;
    border-radius: 16px;
}
.uno:hover{
    background-color: #3b5998;
}
nav a:hover {
  color: #fff;
}

.dos{
    display: block;
    width: 64px;
    font-family: sans-serif;
    margin: 10px;
    padding: 20px;
    text-decoration: none;
    color: rgb(4, 4, 4);
    text-align: center;
    border-radius: 16px;

}
.dos:hover{
    background-color: #3b5998;
}

.tres {
    display: block;
    width: 65px;
    font-family: sans-serif;
    font-weight: 20px;
    margin: 10px;;
    padding: 20px;
    text-decoration: none;
    color: rgb(4, 4, 4);
    border-radius: 16px;
}
.tres:hover{
    background-color: #3b5998;
}

.cuatro{
    display: block;
    width: 90px;
    font-family: sans-serif;
    font-weight: 20px;
    margin: 10px;
    padding: 20px ;
    text-decoration: none;
    color: rgb(4, 4, 4);
    border-radius: 16px;
}
.cuatro:hover{
    background-color: #3b5998;
}

.cinco{
    display: block;
    width: 160px;
    height: 20px;
    font-family: sans-serif;
    margin:10px;
    padding: 15px;
    text-decoration: none;
    color: rgb(4, 4, 4);
    border-radius: 16px;
}
.cinco:hover{
    background-color: #3b5998;
}

.nav{
    font-size: 17px;
}

section{
    background: rgb(239, 235, 235);
    padding: 0px;
    width: 1500px
}
h1{
    margin: 0px;
    text-align: center;
    
}

.proposito{
    background-color:hsl(226, 65%, 35%);
    width: 130px;
    height: 70px; 
    color: #ffffff;
    margin: 5px;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.pro{
    display: flex;
    justify-content: space-around;
}
p{
    font-size: 20px;
    text-align: justify;
    margin: 1px;
    text-align: justify;
    line-height:25px;
}

.parrafo{
    color: #ffffff;
    margin: 10px;

}
h2{
    background-color: hsl(226, 65%, 35%);
    width: 130px;
    height: 70px;
    display: flex;
    align-items: center;
    color: #ffffff;
    justify-content: center;
    border-radius: 10px;
}
   
.M{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px;
}
.V{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px;
    
}
.footer{
    display: flex;
    background-color:hsl(226, 65%, 35%);
    padding-top: 8px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
}
.integrantes{
    font-size: 20px;
    list-style-type: none;
}
.conocer{
    color: #ffffff;
    padding: 5px;
}
.contacto{
  margin:0px;
  color: #ffffff;
  display: flex;
  padding: 0px;
  align-items: center;


}
.dibujos{
    padding: 20px;
    align-items: center;
}
.F{
    padding: 10px;
    border-radius: 20px;
    width: 60px;
    border-radius: 50px;
}
.W{
    padding: 10px;
    border-radius: 20px;
    width: 60px;
    border-radius: 50px;
}
.I{
    padding: 10px;
    border-radius: 10px;
    width: 60px;
    border-radius: 50px;
}
.correo{
    text-align: center;
    color: #ffffff;
}
.derechos{
    color: #ffffff;
    display: flex;
    align-items: center;
}
h3{
    font-size: 20px;
    padding: 10px;
    margin-top: 20px;
}
a{
    text-decoration: none;
    color: #ffffff;
}
.contacto-p {
    margin: 0px;
}